.checkoutitems{
    width: 70%;
    height: 100vh;
    float: left;
}
.checkoutwindow{
    width: 30%;
    height: 100vh;
}
.paywindow{
    background-color: #efe6dc;
    width: 28vw;
    /* height: 50vh; */
    
}